{$CADDY_DOMAIN} {
    reverse_proxy api:8000
    encode gzip
    log {
        output stdout
        format console
    }
}

{$CADDY_UI_DOMAIN} {
    reverse_proxy host.docker.internal:8080
    encode gzip
    log {
        output stdout
        format console
    }
}
